################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QInt/.vs/QInt/v16
/.vs
/QInt/QInt/x64/Debug
/QInt/QInt/QInt.vcxproj
/QInt/x64/Debug
/QInt/.vs/QInt/v15
/QInt/QInt/x64/Release/QInt.tlog
/QInt/QInt/x64/Release
/QInt/QInt/input.txt
/QInt/QInt/output.txt
/QInt/x64/Release
