################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QInt/.vs/QInt/v16
